.button {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  cursor: pointer;
  color: inherit;
  background: transparent;
  border: 0;
  border-radius: 2px;
  font-size: inherit;
  padding: 0.6em 1em;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  font-family: inherit;
  font-weight: 400;
  text-decoration: none;
}
.button.nowrap {
  white-space: nowrap;
  max-width: 100%;
}
.button:hover {
  text-decoration: none;
}
.button[disabled] {
  opacity: 0.7;
  cursor: default;
  box-shadow: none !important;
}
.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled]:focus:hover {
  box-shadow: none !important;
}
.button:hover {
  box-shadow: inset 0 0 0 999em rgba(0,0,0,0.063);
}
.button:hover:active,
.button.active {
  box-shadow: inset 0 0.125em 0.375em rgba(0,0,0,0.125), inset 0 0 0 999em rgba(0,0,0,0.125);
}
.button:focus {
  outline: none;
}
.button:focus::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 0.1em;
  box-shadow: inset 0 0 0 1px #fff;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.button:focus:active:before {
  opacity: 0;
}
.button.orange {
  background: #f38020;
  color: #fff;
}
.button.black {
  background: #000;
  color: #fff;
}
.button.black:active {
  background: darkerGray;
}
.button.white {
  background: #fff;
  color: #000;
}
.button.juicier {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.button.juiciest {
  padding-top: 1em;
  padding-bottom: 1em;
}
.button.large {
  font-size: 1.25em;
}
.button.full-width {
  width: 100%;
}
