.hero-buttons-column {
  width: 90%;
}
@media (max-width: 48em) {
  .hero-buttons-column {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 48em) {
  .hero-buttons-column {
    max-width: 1200px;
  }
}
.hero-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
@media (max-width: 420px) {
  .hero-buttons {
    margin-left: -1em;
    margin-right: -1em;
  }
}
.hero-buttons a.hero-button {
  border-radius: 3px;
  text-align: center;
  padding: 24px 24px 21px;
  margin: 12px;
  white-space: nowrap;
  background: #f3f3f4;
  border: 1px solid rgba(0,0,0,0.1);
  border-bottom-color: rgba(0,0,0,0.2);
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}
.hero-buttons a.hero-button:hover {
  background: #fafafa;
  color: inherit;
}
.hero-buttons a.hero-button:hover:active {
  border-color: rgba(0,0,0,0.1);
  border-top-color: rgba(0,0,0,0.2);
  background: #e6e6e8;
}
.hero-buttons a.hero-button svg {
  display: block;
  width: 160px;
  height: 90px;
  margin: -5px auto 10px;
  fill: currentColor;
}
.hero-buttons a.hero-button:not(:hover) svg {
  fill: #404041;
}
@media (max-width: 48em) {
  .hero-buttons a.hero-button.more::after {
    display: none;
  }
}
