.hero {
  text-align: center;
}
.hero .hero-header-icon {
  height: 6em;
  width: 6em;
  max-width: 100%;
  margin: 0 auto;
}
.hero h5 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  text-indent: 0.09em;
  margin-top: 0;
  margin-bottom: 0.6em;
  font-weight: 400;
}
@media (max-width: 48em) {
  .hero h5 {
    font-size: 0.9em;
  }
}
.hero h1 {
  line-height: 1.2;
  max-width: 22em;
  margin: 0 auto 0.4em;
  font-weight: 700;
  font-size: 2.5em;
}
@media (max-width: 48em) {
  .hero h1 {
    font-size: 1.33em;
  }
}
.hero p {
  width: 28em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
@media (max-width: 48em) {
  .hero p {
    font-size: 1em;
  }
}
.hero p:last-child {
  margin-bottom: 0;
}
.hero-block {
  width: 28em;
  font-size: 1.125em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 48em) {
  .hero-block {
    font-size: 1em;
  }
}
.hero-block p {
  line-height: 1.5;
  margin-bottom: 1em;
  color: #646567;
}
.hero-block p:last-child {
  margin-bottom: 0;
}
