.browser-mock
  background #bcbec0
  border-radius 4px
  padding 2rem 2px 2px 2px

  .screenshot
    background #fff
    position relative

    img
      display block
      position absolute
      height 100%
      width 100%

    .spacer
      height 0
      padding-bottom 50% // Should be set on element
