.hero
  text-align center

  .hero-header-icon
    height 6em
    width 6em
    max-width 100%
    margin 0 auto

  h5
    font-size 1.2em
    text-transform uppercase
    letter-spacing .09em
    text-indent .09em
    margin-top 0
    margin-bottom .6em
    font-weight 400

    @media (max-width 48em)
      font-size .9em

  h1
    line-height 1.2
    max-width 22em
    margin 0 auto .4em
    font-weight 700
    font-size 2.5em

    @media (max-width 48em)
      font-size 1.33em

  p
    width 28em
    max-width 100%
    margin-left auto
    margin-right auto
    font-size 1.3em
    line-height 1.5
    margin-bottom 1.5em

    @media (max-width 48em)
      font-size 1em

    &:last-child
      margin-bottom 0

.hero-block
  width 28em
  font-size 1.125em
  max-width 100%
  margin-left auto
  margin-right auto

  @media (max-width 48em)
    font-size 1em

  p
    line-height 1.5
    margin-bottom 1em
    color #646567

    &:last-child
      margin-bottom 0
